In [1]:
import pandas as pd
dta=pd.read_csv(r"C:\Users\muhap\OneDrive\Desktop\Data Analytics 2024\DTA data.csv")
dta

,kingdom,phylum,class,order,family,genus,species,sciName,common
0,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
1,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
2,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
3,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
4,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
...,...,...,...,...,...,...,...,...,...
11978,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus
11979,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus
11980,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus
11981,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus
11982,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus

In [2]:
dta=dta.drop_duplicates()
dta

,kingdom,phylum,class,order,family,genus,species,sciName,common
0,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
30,Animalia,Chordata,Mammalia,Artiodactyla,Bovidae,Addax,nasomaculatus,Addax nasomaculatus,Addax
60,Animalia,Chordata,Mammalia,Carnivora,Mustelidae,Aonyx,capensis,Aonyx capensis,African Clawless Otter
90,Animalia,Chordata,Reptilia,Squamata,Pythonidae,Python,sebae,Python sebae,African Rock Python
120,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Trionyx,triunguis,Trionyx triunguis,African Softshell Turtle
...,...,...,...,...,...,...,...,...,...
11833,Animalia,Chordata,Aves,Psittaciformes,Psittacidae,Ognorhynchus,icterotis,Ognorhynchus icterotis,Yellow-eared Parrot
11863,Animalia,Chordata,Reptilia,Testudines,Podocnemididae,Podocnemis,unifilis,Podocnemis unifilis,Yellow-spotted River Turtle
11893,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,shanjing,Tylototriton shanjing,Yunnan Newt
11895,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,verrucosus,Tylototriton verrucosus,Yunnan Newt
11953,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus

In [3]:
#resets the index of the table to be in a numerical order 
#drops the index column with previous index value 
dta=dta.reset_index(drop=True)
dta

,kingdom,phylum,class,order,family,genus,species,sciName,common
0,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
1,Animalia,Chordata,Mammalia,Artiodactyla,Bovidae,Addax,nasomaculatus,Addax nasomaculatus,Addax
2,Animalia,Chordata,Mammalia,Carnivora,Mustelidae,Aonyx,capensis,Aonyx capensis,African Clawless Otter
3,Animalia,Chordata,Reptilia,Squamata,Pythonidae,Python,sebae,Python sebae,African Rock Python
4,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Trionyx,triunguis,Trionyx triunguis,African Softshell Turtle
...,...,...,...,...,...,...,...,...,...
395,Animalia,Chordata,Aves,Psittaciformes,Psittacidae,Ognorhynchus,icterotis,Ognorhynchus icterotis,Yellow-eared Parrot
396,Animalia,Chordata,Reptilia,Testudines,Podocnemididae,Podocnemis,unifilis,Podocnemis unifilis,Yellow-spotted River Turtle
397,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,shanjing,Tylototriton shanjing,Yunnan Newt
398,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,verrucosus,Tylototriton verrucosus,Yunnan Newt
399,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus

In [5]:
#deleting rows with null values
dta.dropna()

,kingdom,phylum,class,order,family,genus,species,sciName,common
0,Animalia,Cnidaria,Anthozoa,Scleractinia,Acroporidae,Acropora,digitifera,Acropora digitifera,Acropora digitifera
1,Animalia,Chordata,Mammalia,Artiodactyla,Bovidae,Addax,nasomaculatus,Addax nasomaculatus,Addax
2,Animalia,Chordata,Mammalia,Carnivora,Mustelidae,Aonyx,capensis,Aonyx capensis,African Clawless Otter
3,Animalia,Chordata,Reptilia,Squamata,Pythonidae,Python,sebae,Python sebae,African Rock Python
4,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Trionyx,triunguis,Trionyx triunguis,African Softshell Turtle
...,...,...,...,...,...,...,...,...,...
395,Animalia,Chordata,Aves,Psittaciformes,Psittacidae,Ognorhynchus,icterotis,Ognorhynchus icterotis,Yellow-eared Parrot
396,Animalia,Chordata,Reptilia,Testudines,Podocnemididae,Podocnemis,unifilis,Podocnemis unifilis,Yellow-spotted River Turtle
397,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,shanjing,Tylototriton shanjing,Yunnan Newt
398,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Tylototriton,verrucosus,Tylototriton verrucosus,Yunnan Newt
399,Animalia,Chordata,Mammalia,Primates,Cercopithecidae,Piliocolobus,kirkii,Piliocolobus kirkii,Zanzibar Red Colobus